<div class="container-fluid">
    <div class="row text-center">
        <div class="col-12">
            <a routerLink="cuentas" routerLinkActive="router-link-active" class="button">
                <img src="assets\images\wallet.svg" width="100px" height="40px">

            </a>

        </div>
        <div class="col-12">
            <h2 style="margin-top: 2%; font-family: roboto; color: #303F9F; text-shadow: 1px 1px solid black; font-weight: bold;">
                Cuentas
            </h2>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-12">
            <a routerLink="categorias" routerLinkActive="router-link-active" class="button">
                <img src="assets\images\folder.svg" width="100px" height="40px">

            </a>

        </div>
        <div class="col-12">

            <h2 style="margin-top: 2%; font-family: roboto; color:  #303F9F; text-shadow: 1px 1px solid black; font-weight: bold;">
                Categorias que tu creas
            </h2>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-12">
            <a routerLink="comparar-cuentas" routerLinkActive="router-link-active" class="button">
                <img src="assets\images\balance.svg" width="100px" height="40px">

            </a>

        </div>
        <div class="col-12">

            <h2 style="margin-top: 2%; font-family: roboto; color:  #303F9F; text-shadow: 1px 1px solid black; font-weight: bold;">
                Comparativas
            </h2>
        </div>
    </div>
</div>