<header class="sticky">
    <a routerLink="/" class="logo"> <span><img src="assets\images\wallet.svg" width="40px" height="40px"></span> <span>{{ title
      }}</span> </a>
    <a routerLink="comparar-cuentas" routerLinkActive="router-link-active" class="button">
        <!--  <img width="32" style="vertical-align: -0.5em" src="./assets/logo.png" /> -->
        <span> comparador</span>
    </a>
    <a routerLink="categorias" routerLinkActive="router-link-active" class="button">
        <!--  <img width="32" style="vertical-align: -0.5em" src="./assets/logo.png" /> -->
        <span> categorias</span>
    </a>
    <a routerLink="cuentas" routerLinkActive="router-link-active" class="button">
        <!--  <img width="32" style="vertical-align: -0.5em" src="./assets/logo.png" /> -->
        <span> cuentas</span>
    </a>
</header>
<!-- <mat-toolbar color="primary" class="mat-elevation-z5">
    <span><img src="assets\images\wallet.svg" width="50px" height="50px"></span>

    <div class="spacer"></div>
    <a mat-button routerLink="home" style="color: white;">Inicio</a>
    <a mat-button routerLink="services" style="color: white;">Movimientos</a>
    <a mat-button routerLink="aboutus" style="color: white;">Categorias</a>
    <a mat-button routerLink="account" style="color: white;">Cuenta</a>
    <a mat-raised-button color="accent" routerLink="signup">Login</a>
    <a mat-raised-button color="accent" href="/home">salir</a>

</mat-toolbar> -->
